#window {
    width: 1200px;
    height: 1200px;
    position: absolute;
    top: 0px;
    left: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}


#gridPixelize {
    position: relative;
    top: 1250px;
}

